# Define the Cisco routers group with its host
[routers]
R1 ansible_host=172.16.10.14  # Router 1 with its IP address

# Define the Cisco core switches group with its host
[core_switch]
CORE ansible_host=172.16.10.11  # Core switch with its IP address

# Define the Cisco access switches group with its hosts
[access_switch]
SW1 ansible_host=172.16.10.12  # Access switch 1 with its IP address
SW2 ansible_host=172.16.10.13  # Access switch 2 with its IP address

# Grouping all the Cisco network devices together
[cisco:children]
routers
core_switch
access_switch
